* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.main {
  width: 960px;
  margin: 50px auto;
}

.box1 {
  margin-bottom: 50px;
}

.box1-text {
  padding: 20px;
  list-style: none;
}

.box1-text:nth-child(odd) {
  background-color: lightgray;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
}

.box2-color {
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
}

.box2-color:nth-child(1) {
  background-color: orange;
  margin-right: 5%;
}
.box2-color:nth-child(2) {
  background-color: yellow;
  margin-right: 5%;
}
.box2-color:nth-child(3) {
  background-color: yellow;
}
.box2-color:nth-child(4) {
  background-color: yellow;
  margin-right: 5%;
}
.box2-color:nth-child(5) {
  background-color: orange;
  margin-right: 5%;
}
.box2-color:nth-child(6) {
  background-color: yellow;
}
.box2-color:nth-child(7) {
  background-color: yellow;
  margin-right: 5%;
}
.box2-color:nth-child(8) {
  background-color: yellow;
  margin-right: 5%;
}
.box2-color:nth-child(9) {
  background-color: orange;
}
